<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/mac.css">
</head>
<body>
    <diV class="main">
        <div class="header" >
            <ul>
                <img src="../images/blank.webp">
                <li> Store</li >
                <li>Mac</li>
                <li>ipad</li>
                <li>iphone</li>
                <li>Watch</li>
                <li>Airpods</li>
                <li>Tv & homes</li>
                <li>Entertainments</li>
                <li>Accessories</li>
                <li>support</li>
                <span class="material-symbols-outlined icon">
                    search
                    </span>
                    <span class="material-symbols-outlined icon">
                        shopping_bag
                        </span>
            </ul>
        </div>
        <div class="sub">
            <p>     Get up to $10000.00 instant cashback with eligible cards plus up to 12 months of No cost EMI</p>
        </div>
        <div class="mac">
        <h1>Mac</h1></div>
        <div class="video">
            <img src="../images/maccccc.jpg">
        </div>
        <div class="get">
        <h1> Get To Know Mac</h1></div>
    
        <div class="page">
            <img src="../images/mac1.jpg">
            <img src="../images/mac2.webp">
            <img src="../images/mac3.jpg">
            <img src="../images/mac4.webp">
            <img src="../images/mac5.webp">
            <img src="../images/mac6.avif">
            

        </div>
    </diV>
</body>
<style>
    @media(max-width:1100px){
        .header ul{
            font-size: 8px;
        }
    }
    @media(max-width:500px){
        .sub p{
            font-size: 10px;
        }
        .mac h1{
            font-size: 15px;
        }
        .video img{
            height: 200px;
            width: 200px;
        }
        .get{
            font-size: 15px;
        }
        .page img{
            height: 100px;
            width: 100px;
        }

    }
</style>
</html>