*{
    margin: 0;
    padding: 0;
}


.header{
    height: 50px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    color:gray;
}
.sub{
    height: 50px;
    background-color: rgb(75, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header img{
    height: 20px;
    width: 20px;
}
.para{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: black;
}
.para p{
    color: goldenrod;
}
.six{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}